<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InformeDatosCSVDesdeDataBase.Properties.Settings.InformeBaseDatosCSVConnectionString"
            connectionString="Host=localhost;Database=InformeBaseDatosCSV;Username=postgres;Password=alvaro"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>